
body {
        text-align : center;
        margin-top : 2em;
}

h1 {
        color:blue
}

h2 {
        color: blue;
        margin-top : 1em;
        margin-bottom : 1em;
}

a:visited {
        color: blue;
}

h2 > a {
        color: blue;
        text-decoration: none;
}

p {
        text-align : left
}

.content {
        max-width : 40em;
        margin : 0 auto;
}

.table_of_content_link {
        display : block;
        margin : 0.5em auto;
        text-decoration: none;
        font-size: 110%;
}

.spacer {
        margin-top: 4em;
}

.page {
        color : green;

}

table {
        margin : 2em auto;
        border-spacing : 0.5em;
        border-collapse :
}